/* work sans google font from google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');


/* shared style */
*{
font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    
}
/* nav related styles  */
header{
    background-color: antiquewhite;
    padding:50px 240px ;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav>ul{
    display: flex;  
}
ul > li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a {
    text-decoration: none;
    color: palevioletred;
}
.web-head{
   max-width: 800px;
   text-align: center;
   margin:0 auto;
}
.head-title{
font-size: 4rem;
font-weight: 750;
color: #131313;
}
.head-details{
color: #727272;
}
